﻿@model Web.Models.WebViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="Web_Content">
    <h1>Вычисление площади поверхности шарового сегмента</h1>
  <form asp-action="Index" asp-controller="Web" method="post">
      <div class="Textbox">
          <div>
              <label asp-for="R" for="R_1">Радиус</label>
              <input asp-for="R" name="R_1" value="@Model.R">
          </div>
          <div>
              <label asp-for="H" for="H_1">Высота</label>
              <input asp-for="H" name="H_1" value="@Model.H">
          </div>
          <div>
              <p>
                  S = @Model.S
              </p>
          </div>
          <div>
              <input type="submit" value="Вычислить" />
          </div>
      </div>
  </form>
</div>



